apiVersion: v1
kind: ConfigMap
metadata:
  name: servora-config
data:
  config.yaml: |
    server:
      http:
        addr: "0.0.0.0:8000"
      grpc:
        addr: "0.0.0.0:8001"
      cors:
        enable: true

    app:
      name: servora.service
      env: "prod"
      jwt:
        secret_key: "servora_default_secret_change_in_production"
        expire: "24"
        issuer: "servora"
      log:
        level: 0

    data:
      database:
        driver: "postgres"
        source: "host=postgres user=servora password=servora dbname=servora port=5432 sslmode=disable"
      redis:
        addr: "redis:6379"
        password: "servora_redis_pwd"
        db: 0

    metrics:
      enable: true

    registry:
      kubernetes:
        enable: true

    discovery:
      kubernetes:
        enable: true
