services:
  micro-forge:
    build:
      context: .
      dockerfile: Dockerfile.air
    working_dir: /workspace/app/micro-forge/service
    command: ["air", "-c", ".air.toml"]
    environment:
      GOMODCACHE: /go/pkg/mod
      GOCACHE: /go/cache
    volumes:
      - ./:/workspace
      - micro-forge_go_mod_cache:/go/pkg/mod
      - micro-forge_go_build_cache:/go/cache

  sayhello:
    build:
      context: .
      dockerfile: Dockerfile.air
    working_dir: /workspace/app/sayhello/service
    command: ["air", "-c", ".air.toml"]
    environment:
      GOMODCACHE: /go/pkg/mod
      GOCACHE: /go/cache
    volumes:
      - ./:/workspace
      - micro-forge_go_mod_cache:/go/pkg/mod
      - micro-forge_go_build_cache:/go/cache

volumes:
  micro-forge_go_mod_cache:
  micro-forge_go_build_cache:
