services:
  servora:
    build:
      context: .
      dockerfile: Dockerfile.air
    working_dir: /workspace/app/servora/service
    command: ["air", "-c", ".air.toml"]
    environment:
      GOMODCACHE: /go/pkg/mod
      GOCACHE: /go/cache
    volumes:
      - ./:/workspace
      - servora_go_mod_cache:/go/pkg/mod
      - servora_go_build_cache:/go/cache

  sayhello:
    build:
      context: .
      dockerfile: Dockerfile.air
    working_dir: /workspace/app/sayhello/service
    command: ["air", "-c", ".air.toml"]
    environment:
      GOMODCACHE: /go/pkg/mod
      GOCACHE: /go/cache
    volumes:
      - ./:/workspace
      - servora_go_mod_cache:/go/pkg/mod
      - servora_go_build_cache:/go/cache

volumes:
  servora_go_mod_cache:
  servora_go_build_cache:
