apiVersion: v1
kind: Service
metadata:
  name: krathub
  labels:
    app: krathub
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8000
      targetPort: http
      protocol: TCP
    - name: grpc
      port: 8001
      targetPort: grpc
      protocol: TCP
  selector:
    app: krathub
