apiVersion: v1
kind: ConfigMap
metadata:
  name: micro-forge-config
data:
  config.yaml: |
    server:
      http:
        addr: "0.0.0.0:8000"
      grpc:
        addr: "0.0.0.0:8001"
      cors:
        enable: true

    app:
      name: micro-forge.service
      env: "prod"
      jwt:
        secret_key: "micro-forge_default_secret_change_in_production"
        expire: "24"
        issuer: "micro-forge"
      log:
        level: 0

    data:
      database:
        driver: "postgres"
        source: "host=postgres user=micro-forge password=micro-forge dbname=micro-forge port=5432 sslmode=disable"
      redis:
        addr: "redis:6379"
        password: "micro-forge_redis_pwd"
        db: 0

    metrics:
      enable: true

    registry:
      kubernetes:
        enable: true

    discovery:
      kubernetes:
        enable: true
