apiVersion: v1
kind: Service
metadata:
  name: micro-forge
  labels:
    app: micro-forge
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8000
      targetPort: http
      protocol: TCP
    - name: grpc
      port: 8001
      targetPort: grpc
      protocol: TCP
  selector:
    app: micro-forge
