apiVersion: v1
kind: Service
metadata:
  name: sayhello
  labels:
    app: sayhello
spec:
  type: ClusterIP
  ports:
    - name: grpc
      port: 8080
      targetPort: grpc
      protocol: TCP
  selector:
    app: sayhello
