server:
  http:
    addr: "${HADDR:0.0.0.0:8000}"
    timeout: "${HTIMEOUT:1s}"
    tls:
      enable: false
      cert_path: "${HTTPS_CERT_PATH:../../manifest/certs/server.cert}"
      key_path: "${HTTPS_KEY_PATH:../../manifest/certs/server.key}"
  grpc:
    addr: "${GADDR:0.0.0.0:8001}"
    timeout: "${GTIMEHOUT:1s}"
    tls:
      enable: false
      cert_path: "${GRPCS_CERT_PATH:../../manifest/certs/server.cert}"
      key_path: "${GRPCS_KEY_PATH:../../manifest/certs/server.key}"

data:
  database:
    driver: "${DB_DRIVER:mysql}"
    source: "${DB_SOURCE:projectName:123456@tcp(127.0.0.1:3306)/projectName?parseTime=True&loc=Local}"

    # PostgreSQL 配置示例:
    # driver: "postgres"
    # source: "host=localhost user=postgres password=password dbname=projectName port=5432 sslmode=disable"

    # SQLite 配置示例:
    # driver: "sqlite"
    # source: "file:./data.db?cache=shared&mode=rwc"
  redis:
    addr: "${RADDR:127.0.0.1:6379}"
    user_name: "${RUSER_NAME:}" # Redis用户名
    password: "${RPASSWORD:redisHoron}" # Redis密码
    db: "${RDB:5}" # Redis数据库编号
    read_timeout: "${RREAD_TIMEOUT:0.2s}"
    write_timeout: "${RWRITE_TIMEOUT:0.2s}"
  client:
    # 这里可以配置第三方服务的客户端
    # 默认不用配置，而是在代码中直接服务发现
    grpc:
      # - service_name: hello.grpc  # nacos需要添加协议后缀
      #   endpoint: "${GRPC_ENDPOINT:127.0.0.1:8003}"
      #   enable_tls: false
      #   timeout: 5s

app:
  name: krathub
  version: v1.0.0
  env: "${ENV:dev}" # dev, test, prod
  metadata:
    key: value
  jwt:
    secret_key: "${JWT_SECRETK_KEY:projectName_secret}"
    expire: "${JWT_EXPIRE:24}"
    issuer: "${JWT_ISSUER:projectName}"
    # audience: "${JWT_AUDIENCE:projectName}"
  log:
    level: "${LOG_LEVEL:-1}" # -1debug,0info,1warn,2error,3dpanic,4panic,5fatal
    filename: "${LOG_FILENAME:projectName.log}" # 日志文件夹为根目录logs
    max_size: "${LOG_MAX_SIZE:20}" # 日志文件最大大小，单位MB
    max_age: "${LOG_MAX_AGE:30}" # 日志文件最大保存天数
    max_backups: "${LOG_MAX_BACKUPS:10}" # 日志文件最大备份数

# 注册中心配置
registry:
  # 使用 Consul 作为注册中心
  consul:
    addr: consul.r430.com:30080
    scheme: http
    datacenter: dc1
    timeout: 5s
    # 为服务自定义 tag
    tags:
      - "traefik.enable=true"
      - "traefik.http.routers.krathub-router.rule=Host(`krathub.r430.com`)"
      - "traefik.http.services.krathub-svc.loadbalancer.server.port=8000"

  # 或者使用 Nacos 作为注册中心
  # nacos:
  # addr: "${NACOSR_ADDR:127.0.0.1}"
  # port: "${NACOSR_PORT:8848}"
  # namespace: "${NACOSR_NAMESPACE:public}"
  # group: "${NACOSR_GROUP:DEFAULT_GROUP}"
  # username: "${NACOSR_USERNAME:nacos}"
  # password: "${NACOSR_PASSWORD:nacos}"
  # timeout: "${NACOSR_TIMEOUT:5s}"

# 服务发现配置，一般和注册中心配置相同
discovery:
  consul:
    addr: consul.r430.com:30080
    scheme: http
    datacenter: dc1
    timeout: 5s

  # nacos:
  #   addr: "${NACOSD_ADDR:127.0.0.1}"
  #   port: "${NACOSD_PORT:8848}"
  #   namespace: "${NACOSD_NAMESPACE:public}"
  #   group: "${NACOSD_GROUP:DEFAULT_GROUP}"
  #   username: "${NACOSD_USERNAME:nacos}"
  #   password: "${NACOSD_PASSWORD:nacos}"
  #   timeout: "${NACOSD_TIMEOUT:5s}"

# 配置中心配置
config:

  # 使用 Nacos 作为配置中心
  # nacos:
  #   addr: "${NACOSC_ADDR:127.0.0.1}"
  #   port: "${NACOSC_PORT:8848}"
  #   namespace: "${NACOSC_NAMESPACE:public}"
  #   group: "${NACOSC_GROUP:DEFAULT_GROUP}"
  #   data_id: "${NACOSC_DATA_ID:projectName.yaml}"
  #   username: "${NACOSC_USERNAME:nacos}"
  #   password: "${NACOSC_PASSWORD:nacos}"
  #   timeout: "${NACOSC_TIMEOUT:5s}"

  # 使用 consul 作为配置中心
  # consul:
  #   addr: consul.r430.com:30080
  #   scheme: http
  #   datacenter: dc1
  #   timeout: 5s
  #   key: projectName/config.yaml  # 配置键名

# 链路追踪配置
trace:
  # 使用 Jaeger 作为链路追踪
  endpoint: otlp.jaeger.r430.com:30080
# 监控配置
metrics:
  # 当前只支持Prometheus
  prometheus:
    addr: ":8000"
  meterName: "krathub"
